.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --Black: #263238;
  --D_Grey: #4d4d4d;
  --Grey: #717171;
  --L_Grey: #89939e;
  --Grey_blue: #96a7b8;
  --Silver: #f5f7fa;
  --White: #ffffff;
  --Primary: rgb(6, 156, 6);
  --Secondary: #263238;
  --Info: #2194f3;
  --Shade1: #43a046;
  --Shade2: #388e3b;
  --Shade3: #237d31;
  --Shade4: #1b5e1f;
  --Shade5: #103e13;
  --Warning: #fbc02d;
  --Error: #e53835;
  --Success: #2e7d31;
}
